<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.cloudpioneer.taskclient.mapper.TaskEntityMapper" >
    <cache></cache>



    <select id="findAll" resultType="taskEntity">
        select * from tbcrawlertask
    </select>

    <insert id="insertTaskEntity">
        INSERT  INTO  tbcrawlertask
                       (id,idUser,name,remark,seedUrls,pathTemplates,pathTag,pathSeeds,pathConfigs,pathClickRegex,
                       pathRegexFilter,pathProtocolFilter,pathSuffixFilter,type,depthCrawl,depthDynamic,pass,weight,
                       threads,completeTimes,cycleRecrawl,status,deleteFlag,timeStart,timeStop,timeLastCrawl,costLastCrawl,
                       scheduleType,workNum,createDate)
                       VALUES
                       (#{id},#{idUser},#{name},#{remark},#{seedUrls},#{pathTemplates},#{pathTag},#{pathSeeds},#{pathConfigs},
                       #{pathClickRegex},#{pathRegexFilter},#{pathProtocolFilter},#{pathSuffixFilter},#{type},#{depthCrawl},
                       #{depthDynamic},#{pass},#{weight},#{threads},#{completeTimes},#{cycleRecrawl},#{status},#{deleteFlag},
                       #{timeStart},#{timeStop},#{timeLastCrawl},#{costLastCrawl},#{scheduleType},#{workNum},#{createDate})

    </insert>

    <update id="deleteTaskEntity">
        update tbcrawlertask set deleteFlag=false where id =#{id}
    </update>


    <select id="findById" resultType="TaskEntity">
        SELECT  * from tbcrawlertask where id=#{id}
    </select>

    <select id="findByType" resultType="TaskEntity">
        SELECT  * from tbcrawlertask where type=#{type}
    </select>

    <select id="findByTimeLastCrawl" resultType="TaskEntity">
        SELECT  * from tbcrawlertask where timeLastCrawl=#{timeLastCrawl}
    </select>

    <update id="updateTimeLastCrawl">
        update tbcrawlertask SET timeLastCrawl=#{newTime} where id=#{id}
    </update>

    <update id="updateTaskEntityById">
        update tbcrawlertask
        set
         idUser=#{idUser},name=#{name},remark=#{remark},seedUrls=#{seedUrls},
         pathTemplates=#{pathTemplates},pathTag=#{pathTag},pathSeeds=#{pathSeeds},
         pathConfigs=#{pathConfigs},pathClickRegex=#{pathClickRegex},pathRegexFilter=#{pathRegexFilter},
         pathProtocolFilter=#{pathProtocolFilter},pathSuffixFilter=#{pathSuffixFilter},type=#{type},
         depthCrawl=#{depthCrawl},depthDynamic=#{depthDynamic},pass=#{pass},weight=#{weight},
         threads=#{threads},completeTimes=#{completeTimes},cycleRecrawl=#{cycleRecrawl},status=#{status},
         deleteFlag=#{deleteFlag},timeStart=#{timeStart},timeStop=#{timeStop},timeLastCrawl=#{timeLastCrawl},
         costLastCrawl=#{costLastCrawl},scheduleType=#{scheduleType},workNum=#{workNum},createDate=#{createDate}
        where id=#{id}
    </update>

</mapper>