<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.cloudpioneer.taskclient.mapper.TaskEntityMapper" >
    <cache></cache>



    <select id="findAll" resultType="taskEntity">
        select * from task
    </select>

    <insert id="insertTaskEntity">
        INSERT  INTO  task
                       (id,idUser,name,remark,type,depthCrawl,depthDynamic,pass,weight,
                       threads,completeTimes,cycleRecrawl,status,deleteFlag,timeStart,timeStop,timeLastCrawl,costLastCrawl,
                       scheduleType,workerNumber,createDate)
                       VALUES
                       (#{id},#{idUser},#{name},#{remark},#{type},#{depthCrawl},
                       #{depthDynamic},#{pass},#{weight},#{threads},#{completeTimes},#{cycleRecrawl},#{status},#{deleteFlag},
                       #{timeStart},#{timeStop},#{timeLastCrawl},#{costLastCrawl},#{scheduleType},#{workerNumber},#{createDate})

    </insert>

    <update id="deleteTaskEntity">
        update task set deleteFlag=false where id =#{id}
    </update>


    <select id="findById" resultType="TaskEntity">
        SELECT  * from task where id=#{id}
    </select>

    <select id="findByType" resultType="TaskEntity">
        SELECT  * from task where type=#{type}
    </select>

    <select id="findByTimeLastCrawl" resultType="TaskEntity">
        SELECT  * from task where timeLastCrawl=#{timeLastCrawl}
    </select>

    <update id="updateTimeLastCrawl">
        update task SET timeLastCrawl=#{newTime} where id=#{id}
    </update>

    <update id="updateTaskEntityById">
        update task
        set
         idUser=#{idUser},name=#{name},remark=#{remark},type=#{type},
         depthCrawl=#{depthCrawl},depthDynamic=#{depthDynamic},pass=#{pass},weight=#{weight},
         threads=#{threads},completeTimes=#{completeTimes},cycleRecrawl=#{cycleRecrawl},status=#{status},
         deleteFlag=#{deleteFlag},timeStart=#{timeStart},timeStop=#{timeStop},timeLastCrawl=#{timeLastCrawl},
         costLastCrawl=#{costLastCrawl},scheduleType=#{scheduleType},workerNumber=#{workerNumber},createDate=#{createDate}
        where id=#{id}
    </update>

</mapper>