<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="jdbcDriver" value="${jdbcDriver}"/>
                <property name="jdbcUrl" value="${jdbcUrl}"/>
                <property name="jdbcUsername" value="${jdbcUsername}"/>
                <property name="jdbcPassword" value="${jdbcPassword}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="cn/com/cloudpioneer/worker/mapper/TaskConfigEntityMapper.xml"/>
    </mappers>
</configuration>